
//Colores 
$aqua-1: #40858d;
$aqua-2: #5d99a0;

$blanco-bg: #f5f2ee;
$blanco-f-1: #fff9f0;

$blanco-c-1: #f0ebdf;
$blanco-c-2: #f3eae0;

$dorado-1: rgb(192, 130, 49);

$gris-azul: #aeb5b9;

$negro: black;

$verde-menta-bg: #d3e6e0;

